<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h1 class="d-flex justify-content-start title">EJS Cats</h1>
    </nav>
    <div class="d-flex justify-content-center">
        <a href="/cat"><img src="./images/cats.jpg" alt="cat"></a>
        <a href="/grumpy"><img src="./images/grumpy_cat.jpg" alt="grumpy"></a>
        <a href="/jumping"><img src="./images/jumping_cat.jpg" alt="jumping"></a>
    </div>
    <div class="d-flex justify-content-center">
        <h1 class="name">Cuddles</h1>
        <h1 class="name">Grumpy</h1>
        <h1 class="name">Jumpy</h1>
    </div>
</body>
</html>